<form (ngSubmit)="insert(f)" #f="ngForm">
    <!--<div class="input-checkbox">
        <label for="rawFile">Fichier brut ?</label>
        <input type="checkbox" name="rawFile" id="rawFile" ngModel> 
    </div>
    <div class="input-checkbox">
        <label for="multipleFile">Fichiers multiples ?</label>
        <input type="checkbox" name="multipleFile" id="multipleFile" ngModel> 
    </div>-->
    <input type="text" name="separationCharacter" placeholder="Séparateur" [(ngModel)]="separator" required maxlength="1">
    <div class="input-file">
        <label for="grid">Fichier Grid</label>
        <input type="file" name="grid" id="grid" (change)="handleGridFile($event)" ngModel required accept=".txt">
    </div>
    <div class="input-file">
        <label for="color">Fichier Color</label>
        <input type="file" name="color" id="color" (change)="handleColorFile($event)" ngModel required accept=".txt">
    </div>
    <button type="submit" [disabled]="f.invalid">Insérer</button>
</form>