<div id="controlPanel" class="col-3 border-right border-warning" ng-init="init()">
        
        <div ng-controller="navigationController" ng-init="init()">
               
           <div class="row">
               <!-- ----------------- BACK ---------------->
               <div class="col-5 p-2 clickable">
                   <h5 class="text-warning">
                       <a ng-click="manualVisualisation()"><span class="fas fa-arrow-left"></span> {{text.global.BACK}}</a>
                   </h5>
               </div>
           </div>

       </div>

       <hr>

       <!-- ----------------- TITRE ---------------->

       <div class="row justify-content-center">
            <h3 class="text-warning col-12 text-center">
                <span class="fas fa-car"></span>
            </h3>
            <h3 class="text-warning">
               {{text.home.TITLE}}
            </h3>
            <h4>
                {{text.home.SUBTITLE}}
            </h4>
       </div>

       <hr>

       <!-- ----------------- TITRE ---------------->

       <div class="row justify-content-center">
            <h4 class="text-warning">
                <span class="fas fa-users"></span> {{text.home.TEAM}}
            </h4>
            <span class="offset-2 col-10"><span class="fas fa-user text-warning"></span> BRUNEAU Florian</span>
            <span class="offset-2 col-10"><span class="fas fa-user text-warning"></span> EVEN François</span>
            <span class="offset-2 col-10"><span class="fas fa-user text-warning"></span> ROSSAT Dorian</span>
            <hr>
            <span class="col-12 text-center"><span class="fas fa-graduation-cap text-warning"></span> INFO 5A</span>
            <span class="col-12 text-center"><span class="fas fa-city text-warning"></span> Polytech Marseille</span>
            <hr>
            <span class="col-12 text-center"><span class="fas fa-chalkboard-teacher text-warning"></span> Durand Nicolas</span>
        </div>

        <hr>

        <!-- ----------------- TECHNOLOGIES ---------------->

        <div class="row justify-content-center">
            <h4 class="text-warning">
                <span class="fas fa-code"></span> {{text.home.TECHNOLOGIES}}
            </h4>
            <span class="offset-2 col-10"><span class="fas fa-file-code text-warning"></span> Html v{{htmlVersion}}</span>
            <span class="offset-2 col-10"><span class="fas fa-file-code text-warning"></span> Angular JS v{{angularJsVersion}}</span>
            <hr>
            <span class="offset-2 col-10"><span class="fas fa-pencil-alt text-warning"></span> CSS v{{cssVersion}}</span>
            <span class="offset-2 col-10"><span class="fas fa-pencil-alt  text-warning"></span> Bootstrap v{{bootstrapVersion}}</span>
            <span class="offset-2 col-10"><span class="fas fa-pencil-alt text-warning"></span> JQuery v{{jqueryVersion}}</span>
            <span class="offset-2 col-10"><span class="fas fa-pencil-alt  text-warning"></span> Popper v{{popperVersion}}</span>
            <hr>
            <span class="offset-2 col-10"><span class="fas fa-file-code text-warning"></span> Javascript v{{javascriptVersion}}</span>
            <hr>
            <span class="offset-2 col-10"><span class="fas fa-file-code text-warning"></span> Node JS v{{nodeJsVersion}}</span>
            <hr>
            <span class="offset-2 col-10"><span class="fas fa-database text-warning"></span> Mongo DB v{{mongoDbVersion}}</span>
            <hr>
            <span class="offset-2 col-10"><span class="fas fa-map-marked-alt text-warning"></span> Api Google Map</span>
        </div>

        <hr>

        <div class="row justify-content-center">
            <span class="text-center">{{text.home.LAST_MODIFICATION}} {{lastModification}}</span>
        </div>

        <hr>

        <div class="row justify-content-center">
            <span class="text-center text-warning">© 2019 Smartcity - {{text.home.ALL_RIGHT_RESERVED}}</span>
        </div>

        <hr>
    </div>