<div id="controlPanel" class="col-3 border-right border-warning" ng-init="init()">
        
        <div ng-controller="navigationController" ng-init="init()">
               
           <div class="row">
               <!-- ----------------- BACK ---------------->
               <div class="col-5 p-2 clickable">
                   <h5 class="text-warning">
                       <a ng-click="manualVisualisation()"><span class="fas fa-arrow-left"></span> {{text.global.BACK}}</a>
                   </h5>
               </div>
           </div>

       </div>

       <hr>

       <!-- ----------------- TITRE ---------------->

       <div class="row justify-content-center">
           <h2 class="text-warning">
               <span class="fas fa-user-plus"></span> {{text.register.TITLE}}				
           </h2>
       </div>

       <hr>
       
       <!------------------- ERROR MESSAGE ---------------->

       <div class="row text-center text-body" ng-show="error" id="error">
            <div class=" mx-auto col-10 text-light border border-warning">
                <strong>
                    <span class="fas fa-exclamation-triangle float-left p-1 text-warning"></span>
                    {{error}}
                    <span class="fas fa-exclamation-triangle float-right p-1 text-warning"></span>
                </strong> 
            </div>
        </div>

        <hr>

        <form>
            <!-- ----------------- EMAIL ---------------->

            <div class="row offset-1 pt-3">
                <h4 class="text-warning">
                    <span class="fas fa-envelope"></span> {{text.register.EMAIL}}
                </h4>
                <input class="col-10" type="email" ng-class="email ? '' : 'border-warning'" id="email" placeholder="{{text.register.EMAIL_PLACEHOLDER}}" ng-model="email" required>
            </div>

            <!-- ----------------- PASSWORD ---------------->

            <div class="row offset-1 pt-3">
                <h4 class="text-warning">
                    <span class="fas fa-key"></span> {{text.register.PASSWORD}}
                </h4>
            <input class="col-10" type="password" ng-class="password ? '' : 'border-warning'" id="pwd" placeholder="{{text.register.PASSWORD_PLACEHOLDER}}" ng-model="password" required>
            </div>

            <!-- ----------------- PASSWORD CONFIRMATION ---------------->

            <div class="row offset-1 pt-3">
                <h4 class="text-warning">
                    <span class="fas fa-key"></span> {{text.register.PASSWORD_CONFIRMATION}}
                </h4>
                <input class="col-10" type="password" ng-class="confirmPassword ? '' : 'border-warning'" id="pwdc" placeholder="{{text.register.PASSWORD_PLACEHOLDER}}" ng-model="confirmPassword" required>
            </div>

            <hr>

            <!-- ----------------- BUTTONS LOGIN ---------------->

            <div class="row justify-content-center">
                <button ng-click="register()" class="btn btn-warning col-9" type="submit"> 
                    <span class="fas fa-save"></span> 
                    {{text.register.REGISTER}}
                </button>
            </div>

        </form>
       
        <hr>

        <div class="justify-content-center clickable text-warning row" ng-controller="navigationController">
            <small ng-click="goLogin()"><u>{{text.register.ALREADY_REGISTER}}</u></small>
        </div>
   </div>