<table>
    <tr>
        <th>Version</th>
        <th>Année</th>
        <th>Auteurs</th>
    </tr>
    <tr>
        <td>V2.0.0</td>
        <td>2022</td>
        <td>
            <ul>
                <li><a href="//www.romainbrocheton.com" target="_blank">Romain BROCHETON</a></li>
                <li>Valentin POINT</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>V1.0.0</td>
        <td>2019</td>
        <td>
            <ul>
                <li>BRUNEAU Florian</li>
                <li>ROSSAT Dorian</li>
                <li>EVEN François</li>
            </ul>
        </td>
    </tr>
</table>