<form (ngSubmit)="display(f)" #f="ngForm">
    <input type="text" name="lat" placeholder="Latitude" ngModel required>
    <input type="text" name="lon" placeholder="Longitude" ngModel required>
    <div class="input-file">
        <label for="grid">Fichier Grid</label>
        <input type="file" name="grid" id="grid" ngModel required accept=".txt">
    </div>
    <div class="input-file">
        <label for="color">Fichier Color</label>
        <input type="file" name="color" id="color" ngModel required accept=".txt">
    </div>
    <button type="submit" [disabled]="f.invalid">Afficher</button>
</form>