$primary: #5a63b7;
$primaryVariant: #9196f0;

$secondary: #a95ab8;
$secondaryVariant: #caa0cf;

$surfaceDark: #353c70;
$surfaceDarkVariant: #3a4070;

$background: #363e6e;
$backgroundVariant: #333b6a;

$textLight: #ffffff;
$textMuted: #5f6691;

$danger: #d14e4e;

$margin: 1rem;
$border: 8px;
$font: 14px;