<form (ngSubmit)="display(f)" #f="ngForm" *ngIf="cities[0] != undefined">
    <div class="form-group">
        <p class="label">Ville</p>
        <div class="input-select">
            <select name="city" id="city" ngModel (ngModelChange)="setCity($event)" required>
                <option *ngFor="let city of cities | removeDuplicates" value="{{city}}">{{city}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="periods[0] != undefined">
        <p class="label">Période (h)</p>
        <div class="input-select">
            <select name="period" id="period" ngModel (ngModelChange)="setPeriod($event)" required>
                <option *ngFor="let period of periods | removeDuplicates" value="{{period}}">{{period}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="granularities[0] != undefined">
        <p class="label">Granularité (m)</p>
        <div class="input-select">
            <select name="granularity" id="granularity" ngModel (ngModelChange)="setGranularity($event)" required>
                <option *ngFor="let granularity of granularities | removeDuplicates" value="{{granularity}}">{{granularity}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="seuils[0] != undefined">
        <p class="label">Seuil de voitures (voitures)</p>
        <div class="input-select">
            <select name="thresholdVehicule" id="thresholdVehicule" ngModel (ngModelChange)="setThresholdVehicule($event)" required>
                <option *ngFor="let seuil of seuils | removeDuplicates" value="{{seuil}}">{{seuil}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="divisionsMin[0] != undefined">
        <p class="label">Division du temps (min)</p>
        <div class="input-select">
            <select name="timeDivisionStart" id="timeDivisionStart" ngModel (ngModelChange)="setDivisionMin($event)" required>
                <option *ngFor="let time of divisionsMin | removeDuplicates" value="{{time}}">{{time}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="divisionsMax[0] != undefined">
        <p class="label">Division du temps (max)</p>
        <div class="input-select">
            <select name="timeDivisionEnd" id="timeDivisionEnd" ngModel (ngModelChange)="setDivisionMax($event)" required>
                <option *ngFor="let time of divisionsMax | removeDuplicates" value="{{time}}">{{time}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="directions[0] != undefined">
        <p class="label">Direction</p>
        <div class="input-select">
            <select name="direction" id="direction" ngModel (ngModelChange)="setDirection($event)" required>
                <option *ngFor="let direction of directions | removeDuplicates" value="{{direction}}">{{direction}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="authors[0] != undefined">
        <p class="label">Auteur</p>
        <div class="input-select">
            <select name="author" id="author" ngModel required>
                <option *ngFor="let author of authors | removeDuplicates" value="{{author}}">{{author}}</option>
            </select>
        </div>
    </div>



    <button type="submit" [disabled]="f.invalid">Afficher</button>
</form>
<p *ngIf="cities[0] == undefined && !empty">Chargement...</p>
<p *ngIf="empty">Aucune donnée à afficher</p>